# Python cache and virtualenv
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# Environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Existing rules
*.session
session/
.env
encodeSessionFile.py